.gc-input,
.gc-input__textarea--small,
.gc-input__textarea--medium,
.gc-input__textarea--large {
  display: block;
  width: 100%;
  max-width: 320px;
  margin-bottom: 0.6125rem;
}

.gc-input--invalid {
  border-color: #f59393;
}

.gc-input--disabled {
  border-color: #dddddd;
  background-color: #f4f4f4;
}

.gc-input__error-msg {
  padding: 0.625em;
  background-color: #f59393;
  color: white;
}

.gc-input__textarea--small,
.gc-input__textarea--medium,
.gc-input__textarea--large {
  padding: 0.625em 1.25em;
}

.gc-input__textarea--small {
  height: 4em;
}

.gc-input__textarea--medium {
  height: 8em;
}

.gc-input__textarea--large {
  height: 20em;
}

/*.gc-input__range-num::after {
  clear: both;
  display: table;
  content:"";
  padding: 0;
  margin: 0;
}*/
/*
.gc-input__range-num--left {
  float: left;
}

.gc-input__range-num--right {
  float: right:
}*/
